
<div class="col-sm-4 col-sm-offset-1">
    <div class="login-form"><!--login form-->
        <h2>Login to your account</h2>
        <form name="loginForm"  role="form">
            
            <input type="email" placeholder="Email Address" ng-model="login.email" required focus/>
            <input type="password" placeholder="123654" name="password" ng-model="login.password" required />
            <span>
                <input type="checkbox" class="checkbox"> 
                Keep me signed in
            </span>
            <button type="submit" class="btn btn-default" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Login</button>
        </form>
    </div><!--/login form-->
</div>
<div class="col-sm-1">
    <h2 class="or">OR</h2>
</div>
<div class="col-sm-4">
    <div class="signup-form"><!--sign up form-->
        <h2>New User Signup!</h2>
        <form action="#">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email Address">
            <input type="password" placeholder="Password">
            <button type="submit" class="btn btn-default">Signup</button>
        </form>
    </div><!--/sign up form-->
