<div class="features_items">
    <div class="col-sm-4" ng-repeat="product in products">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="images/home/product1.jpg" alt="" />
                    <h2><span class="price">Tk{{product.price}}</span></h2>
                    <p>{{product.title}}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="icon-shopping-cart"></i>Add to cart</a>
                </div>
                
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="icon-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="icon-plus-square"></i>View Details</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p class="" ng-show="!products.length">No product under this category. Try another category.</p>