<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Item Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>

        <tr ng-repeat="product in products">
            <td>
                <p><strong>{{product.name}}</strong></p>
                
            </td>
            <td><input type="text" value="{{product.qty}}"></td>
            <td>${{product.price}}</td>
            <td>${{product.subtotal}}</td>
            
       </tr>
       <tr >
            <td>
                &nbsp;
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>${{grandTotal}}</td>
            
       </tr>

    

    </tbody>
</table>
<a href="#/" ng-click="checkout()" class="btn btn-info pull-left">Continue Shopping</a>
<a href="" ng-click="checkout()" class="btn btn-primary pull-right">Checkout</a>